# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Poetry
poetry.lock

# VS Code
.vscode/

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Docker
*.log
*.pid
dist/
build/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Misc
*.sqlite3
